* {
    background-color: lightgrey;
    border: 1px solid black;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    padding: 8px;
    margin: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 20% 80%;
}

.header {
    grid-column: 1/3;
    grid-row: 1/2;
}

.left-side {
    grid-column: 1/2;
    grid-row: 2/3;
}

.main-content {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 5% 55% 10% 20% 10%;
    grid-template-rows: repeat(auto-fit, 80px);
}

.main-header, .project-title, .btnAddTask{
    grid-column: 1/6;
}

.task-input {
    grid-column: 1/4;
}

.confTaskBtn {
    grid-column: 4/5;
}

.cancelTaskBtn {
    grid-column: 5/6;
}

.task-display {
    grid-column: 2/4;
}

.task-date {
    grid-column: 4/5;
}

.task-delete {
    grid-column: 5/6;
}

.task-complete {
    grid-column: 1/2;
}

/*split the display for the left side div*/
.left-side {
    display: grid;
    grid-template-columns: 60% 20% 20%;
    grid-template-rows: repeat(auto-fit, 40px);
}
 .left-side > h2 {
    margin: 0px;
}

.left-side>h2, .btnAddProject {
    grid-column: 1/4;
}

.project-input {
    grid-column: 1/2;
}

.confProjectBtn {
    grid-column: 2/3;
}

.confCancelBtn, .project-delete {
    grid-column: 3/4;
}

.project-display {
    grid-column: 1/3;
}